name: CI

on:
  push:
  pull_request:

jobs:
  test-backend:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

      - name: Make mvnw executable
        run: chmod +x backend/mvnw

      - name: Run tests (backend)
        working-directory: backend
        run: ./mvnw -q test